-- Example 0
3
elton
tom
john
3
john
jones
cena

1
-- Example 1
2
james
taylor
2
taylor
james

2
-- Example 2
1
jar
1
jar

0
-- Example 3
8
lee
stan
ang
marvin
lee
grace
kelly
jeremy
8
marvin
lee
lee
gaye
mack
kelly
clarkson
clarkson

6
-- Example 4
3
major
major
major
3
major
major
major

6
