-- Example 0
RACE

ECARACE
-- Example 1
TOPCODER

REDTOCPCOTDER
-- Example 2
Q

Q
-- Example 3
MADAMIMADAM

MADAMIMADAM
-- Example 4
ALRCAGOEUAOEURGCOEUOOIGFA

AFLRCAGIOEOUAEOCEGRURGECOEAUOEOIGACRLFA
